#!/usr/bin/env bash
echo "starting - CLOUD INIT"

# Ubuntu

apt-get -y update
#apt-get -y upgrade TODO reenable apt-get upgrade. We don't want security problems
#apt-get -y install build-essential
#apt-get -y install ruby1.9.1 ruby1.9.1-dev
#apt-get -y autoremove
#apt-get -y clean
 
#gem install chef ruby-shadow --no-ri --no-rdoc --verbose

hostname <%= instance.uuid %>