$('#user-<%= @user.id %>').remove();
$('#students-table').append("<tr id='user-<%= @user.id %>'><td><%= @user.name %></td><td><%= @user.email %></td><td><%= @user.organization %></td><td><a href='/admin/user_delete?id=<%= @user.id %>' data-method='post' rel='nofollow' data-remote='true' data-confirm='Are you sure you want to delete Student <%= @user.name %>?'>delete</a></td><td><a href='/admin/student_to_instructor?id=<%= @user.id %>' data-method='post' rel='nofollow' data-remote='true' data-confirm='Are you sure you want to make Student <%= @user.name %> an instructor?'>make instructor</a></td></tr>");
