<% if @student_group_user %>
	<% if @student_group.errors.any? %>
	  alert('Error add user to student group.');
	<% else %>
		<% if @student_group_user.errors.any? %>
			<% if @student_group_user.errors[:user].any? %>
				$('#modal-student-group-user-add').find('#name-div').addClass('has-error');
  			$('#modal-student-group-user-add').find('#name-help').text('User already exists in Student Group <%= @student_group.name %>');
  		<% end %>
		<% else %>
			$('#modal-student-group-user-add').modal('toggle');
			$('#student-group-<%= @student_group.id %>-table').append("<tr id='student-group-user-<%= @student_group_user.id %>'><td><%= @student_group_user.user.name %></td><td><%= @student_group_user.user.email %></td><td><%= @student_group_user.user.organization %></td><td><a href='/admin/student_group_user_remove?student_group_user_id=<%= @student_group_user.id %>' data-method='post' rel='nofollow' data-remote='true' data-confirm='Are you sure you want to delete Student Group User <%= @student_group_user.user.name %>'>remove</a></td></tr>")
		<% end %>
	<% end %>
<% else %>
  $('#modal-student-group-user-add').find('#name-div').addClass('has-error');
  $('#modal-student-group-user-add').find('#name-help').text('could not find Student Group');
<% end %>