<% if @student_group.errors.any? %>
  <% if @student_group.errors[:name].any? %>
    $('#modal-student-group-create').find('#name-div').addClass('has-error');
    $('#modal-student-group-create').find('#name-help').text('<%= @student_group.errors[:name][0] %>');
  <% end %>
<% else %>
  $('#student-groups').append("<div id='student-group-<%= @student_group.id %>'> <label><%= @student_group.name %></label> <a href='/admin/student_group_destroy?student_group_id=<%= @student_group.id %>' data-method='post' rel='nofollow' data-remote='true' data-confirm='Are you sure you want to delete Student Group <%= @student_group.name %>'>delete</a> <table id='student-group-<%= @student_group.id %>-table' class='table'><tr><th>Name</th><th>Email</th><th>Organization</th></tr></table></div>");
  $('#modal-student-group-create').modal('toggle');
  update_flash("Created Student Group '<%= @student_group.name %>'.");
<% end %>