$('#user-<%= @user.id %>').remove();
$('#instructors-table').append("<tr id='user-<%= @user.id %>'><td><%= @user.name %></td><td><%= @user.email %></td><td><%= @user.organization %></td><td><a href='/admin/user_delete?id=<%= @user.id %>' data-method='post' rel='nofollow' data-remote='true' data-confirm='re you sure you want to delete Instructor <%= @user.name %>?'>delete</a></td><td><a href='/admin/instructor_to_student?id=<%= @user.id %>' data-method='post' rel='nofollow' data-remote='true' data-confirm='Are you sure you want to make Instructor <%= @user.name %> a student? This will erase all students accounts belonging to instructor.'>make student</a></td></tr>");
