<% if @group.errors.any? %>
	<% if @group.errors[:running].any? %>
    $('#modal-group-student-group-add').find('#help-div').addClass('has-error');
    $('#modal-group-student-group-add').find('#help-help').text('<%= @group.errors[:running][0] %>');
  <% else %>
    $('#modal-group-student-group-add').find('#help-div').removeClass('has-error');
    $('#modal-group-student-group-add').find('#help-help').text('');
  <% end %>
<% else %>
	$('#modal-group-student-group-add').modal('toggle');
	<% @players.each do |player| %>
		<% user = User.find(player.user_id) %>
		$('#group-<%= @group.id %>-players-table').append("<tr id='player-<%= player.id %>'><td><%= user.name %></td><td><%= user.email %></td><td><%= player.student_group.name %></td><td><%= player.login %></td><td><%= player.password %></td><td><a href='/scenarios/<%= player.group.scenario.id %>/group_player_delete?player_id=<%= player.id %>' data-method='post' rel='nofollow' data-remote='true'>delete</a></td>");
	<% end %>
	$('#save-button-li').removeClass('disabled');
	$('#save-button').attr('href', '/scenarios/<%= @group.scenario.id %>/save');
	update_flash("Added student group '<%= @student_group_name %>' to group '<%= @group.name %>'");
<% end %>