= javascript_include_tag "//www.google.com/jsapi", "chartkick"

%div.panel.panel-default
  %div.panel-heading.nav.nav-pills
    %li
      %h4
        Statistics:      
    %li
      = link_to 'Download All Data', download_all_statistic_path(current_user), class: 'btn btn-default'

%div.panel-body
  %dl
  %h4
    %b
      Scenarios Statistics:
  %br
    = pie_chart Statistic.group(:scenario_name).count
  %table.table.table-bordered
    %tr
      %th Scenario Name
      %th Date Created
      %th

    - @statistics.each do |statistic|
      %tr
        %td= statistic.scenario_name
        %td= statistic.created_at
        %td
          = link_to 'Show', statistic, class: 'btn btn-default'     
          = link_to 'Download', download_statistic_path(statistic), class: 'btn btn-default'
          = link_to 'Destroy', destroyme_statistic_path(statistic), method: :post, remote: true, :data => { :confirm => 'Are you sure you want to permanently destroy this statistic?' }, class: 'btn btn-danger'


  
