= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%div.panel.panel-default
    %div.panel-heading.nav-nav-pills
        %h4
            %b
                %span#scenario-name
                    = @statistic.scenario_name
                    = "created at: "
                    = @statistic.created_at
    %div.panel-heading.nav.nav-pills
        %li.dropdown#action-dropdown
            %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#", role: "button", "aria-expanded" => "false"}
            Users
            = select_tag :users, options_for_select(@users)
        %br
        %button{onclick:"request_graph(#{@statistic_id});", class: 'btn btn-default'} Generate Analytics
    %div{ "id" => "chart", "style" => "height: 300px"}
    %div.indent.panel-body    
        // Instructions
        %label
            %div.panel.panel-body
                = link_to 'Download', download_statistic_path(@statistic), class: 'btn btn-default'
                = link_to 'All Statistics', statistics_path, class: 'btn btn-default'
                = link_to 'Destroy Statistic', destroyme_statistic_path(@statistic), method: :post, remote: true, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default'
            // Uses regular expressions to display bash history nicely, converting the unix timestamp into a readable time
            %div.panel.panel-body{id: "bash-histories-field"}
                %h3 Bash Histories
                - history_lines = @statistic.bash_histories.split(/#/)
                - history_lines.each do |line|
                    %br
                    = if /\d\d\d\d\d\d\d\d\d\d.*/.match(line) then Time.at(Integer(line[0..10])).strftime("%I:%M %p") + ' ' + line[11..-1] else line end
            
