
<% if @scenario.bootable? %>
  $('#boot-button-li').attr('class', '');
<% else %>
  $('#boot-button-li').attr('class', 'disabled');
<% end %>

<% if @scenario.unbootable? %>
  $('#unboot-button-li').attr('class', '');
<% else %>
  $('#unboot-button-li').attr('class', 'disabled');
<% end %>

<% if @scenario.stopped? %>
  $('#destroy-button-li').attr('class', '');
  $('#save-as-button-li').attr('class', '');
  $('#group-add-button-li').attr('class', '');
  $('#role-add-button-li').attr('class', '');
<% else %>
  $('#destroy-button-li').attr('class', 'disabled');
  $('#save-as-button-li').attr('class', 'disabled');
  $('#group-add-button-li').attr('class', 'disabled');
  $('#role-add-button-li').attr('class', 'disabled');
<% end %>

<% if @scenario.paused? %>
  $('#start-button-li').attr('class', '');
<% else %>
  $('#start-button-li').attr('class', 'disabled');
<% end %>

<% if @scenario.booted? %>
  $('#pause-button-li').attr('class', '');
<% else %>
  $('#pause-button-li').attr('class', 'disabled');
<% end %>

update_status('scenario', '<%= @scenario.status %>')

<% @scenario.clouds.each do |cloud| %>
  <% if cloud.bootable? %>
    $("#cloud-<%= cloud.id %>-boot-button-li").attr('class', '');
  <% else %>
    $("#cloud-<%= cloud.id %>-boot-button-li").attr('class', 'disabled');
  <% end %>

  <% if cloud.unbootable? %>
    $("#cloud-<%= cloud.id %>-unboot-button-li").attr('class', '');
  <% else %>
    $("#cloud-<%= cloud.id %>-unboot-button-li").attr('class', 'disabled');
  <% end %>

  <% if cloud.stopped? %>
    $("#cloud-<%= cloud.id %>-modify-button-li").attr('class', '');
    $("#cloud-<%= cloud.id %>-delete-button-li").attr('class', '');
  <% else %>
    $("#cloud-<%= cloud.id %>-modify-button-li").attr('class', 'disabled');
    $("#cloud-<%= cloud.id %>-delete-button-li").attr('class', 'disabled');
  <% end %>

  update_status('cloud-<%= cloud.id %>', '<%= cloud.status %>');
  
  $("#cloud-<%= cloud.id %>-driver").text('<%= cloud.driver_id ? cloud.driver_id : "not set" %>');

  <% cloud.subnets.each do |subnet| %>
    <% if subnet.bootable? %>
      $("#subnet-<%= subnet.id %>-boot-button-li").attr('class', '');
    <% else %>
      $("#subnet-<%= subnet.id %>-boot-button-li").attr('class', 'disabled');
    <% end %>

    <% if subnet.unbootable? %>
      $("#subnet-<%= subnet.id %>-unboot-button-li").attr('class', '');
    <% else %>
      $("#subnet-<%= subnet.id %>-unboot-button-li").attr('class', 'disabled');
    <% end %>

    <% if subnet.stopped? %>
      $("#subnet-<%= subnet.id %>-modify-button-li").attr('class', '');
      $("#subnet-<%= subnet.id %>-delete-button-li").attr('class', '');
    <% else %>
      $("#subnet-<%= subnet.id %>-modify-button-li").attr('class', 'disabled');
      $("#subnet-<%= subnet.id %>-delete-button-li").attr('class', 'disabled');
      $("#subnet-<%= subnet.id %>-delete-button").attr('href', 'javascript: void(0)');
    <% end %>

    update_status('subnet-<%= subnet.id %>', '<%= subnet.status %>');

    $("#subnet-<%= subnet.id %>-driver").text('<%= subnet.driver_id ? subnet.driver_id : "not set" %>');

    <% subnet.instances.each do |instance| %>
      <% if instance.bootable? %>
        $("#instance-<%= instance.id %>-boot-button-li").attr('class', '');
      <% else %>
        $("#instance-<%= instance.id %>-boot-button-li").attr('class', 'disabled');
      <% end %>

      <% if instance.unbootable? %>
        $("#instance-<%= instance.id %>-unboot-button-li").attr('class', '');
      <% else %>
        $("#instance-<%= instance.id %>-unboot-button-li").attr('class', 'disabled');
      <% end %>

      <% if instance.stopped? %>
        $("#instance-<%= instance.id %>-modify-button-li").attr('class', '');
        $("#instance-<%= instance.id %>-delete-button-li").attr('class', '');
        $("#instance-<%= instance.id %>-role-add-button-li").attr('class', '');
      <% else %>
        $("#instance-<%= instance.id %>-modify-button-li").attr('class', 'disabled');
        $("#instance-<%= instance.id %>-delete-button-li").attr('class', 'disabled');
        $("#instance-<%= instance.id %>-role-add-button-li").attr('class', 'disabled');
      <% end %>

      update_status('instance-<%= instance.id %>', '<%= instance.status %>');

      $("#instance-<%= instance.id %>-driver").text('<%= instance.driver_id ? instance.driver_id : "not set" %>');
      <% if instance.internet_accessible %>
        $("#instance-<%= instance.id %>-public-ip").text('<%= instance.provider_instance_public_ip ? instance.provider_instance_public_ip : "-"  %>');
      <% end %>
      $("#instance-<%= instance.id %>-driver").text('<%= instance.driver_id ? instance.driver_id : "not set" %>');
      $("#instance-<%= instance.id %>-ssh-ready").text('<%= instance.ssh_ready? ? "true" : "-" %>');
      $("#instance-<%= instance.id %>-initialized").text('<%= instance.initialized? %>');
      <% if instance.initialized? == "chef script error" %>
        $("#instance-<%= instance.id %>-initialized-error").removeClass('hidden');
      <% else %>
        $("#instance-<%= instance.id %>-initialized-error").addClass('hidden');
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% @scenario.groups.each do |group| %>
  <% if group.instances_stopped? %>
    $('#group-<%= group.id %>-player-add-button-li').attr('class', '');
    $('#group-<%= group.id %>-student-group-add-button-li').attr('class', '');
    $('#group-<%= group.id %>-student-group-remove-button-li').attr('class', '');
    $('#group-<%= group.id %>-modify-button-li').attr('class', '');
    $('#group-<%= group.id %>-delete-button-li').attr('class', '');
    $('#group-<%= group.id %>-admin-access-button-li').attr('class', '');
    $('#group-<%= group.id %>-user-access-button-li').attr('class', '');
  <% else %>
    $('#group-<%= group.id %>-player-add-button-li').attr('class', 'disabled');
    $('#group-<%= group.id %>-student-group-add-button-li').attr('class', 'disabled');
    $('#group-<%= group.id %>-student-group-remove-button-li').attr('class', 'disabled');
    $('#group-<%= group.id %>-modify-button-li').attr('class', 'disabled');
    $('#group-<%= group.id %>-delete-button-li').attr('class', 'disabled');
    $('#group-<%= group.id %>-admin-access-button-li').attr('class', 'disabled');
    $('#group-<%= group.id %>-user-access-button-li').attr('class', 'disabled');
  <% end %>
<% end %>

<% @scenario.roles.each do |role| %>
  <% if @scenario.stopped? %>
    $('#role-<%= role.id %>-delete-button-li').attr('class', '');
  <% else %>
    $('#role-<%= role.id %>-delete-button-li').attr('class', 'disabled');
  <% end %>
<% end %>

<% if @scenario.queued? or @scenario.booting? or @scenario.unbooting? %>
  setTimeout(function() { get_boot_status('<%= @scenario.id %>'); }, 2000);
<% else %>
  setTimeout(function() { get_boot_status('<%= @scenario.id %>'); }, 4000);
<% end %>