$('#pause-button').blur();
<% if @scenario.errors.any? %>
	alert('<%= @scenario.errors[:boot][0] %>');
<% else %>
	update_flash('<%= "Scenario #{@scenario.name} has been scheduled to pause" %>');
	update_status('scenario', '<%= @scenario.status %>');
	$('#pause-button-li').attr('class', "disabled");
  $('#start-button-li').attr('class', "disabled");
<% end %>