$('#start-button').blur();
<% if @scenario.errors.any? %>
	alert('<%= @scenario.errors[:boot][0] %>');
<% else %>
	update_flash('<%= "Scenario #{@scenario.name} instances starting." %>');
	update_status('scenario', '<%= @scenario.status %>');
	$('#pause-button-li').attr('class', "disabled");
  $('#start-button-li').attr('class', "disabled");
<% end %>