%li{ id: "cloud-#{cloud.id}" }
  %label
    %span{ id: "cloud-#{cloud.id}-name" }
      = cloud.name
  %div.inline-block
    %div.dropdown{ id: "cloud-#{cloud.id}-dropdown" }
      %button.btn.btn-default.dropdown-toggle{ type:'button', id: "dropdown-button-cloud-#{cloud.id}", "data-toggle" => 'dropdown', "aria-expanded" => "true" }
        %span.caret
      %ul.dropdown-menu{ role: 'menu', "aria-labelledby" => "dropdown-button-cloud-#{cloud.id}" }
        %li{ id: "cloud-#{cloud.id}-boot-button-li", class: cloud.bootable? ? "" : "disabled" }
          = link_to 'Boot', boot_cloud_scenario_path(cloud_id: cloud), method: :post, remote: true, id: "cloud-#{cloud.id}-boot-button"
        %li{ id: "cloud-#{cloud.id}-unboot-button-li", class: cloud.unbootable? ? "" : "disabled" }
          = link_to 'Unboot', unboot_cloud_scenario_path(cloud_id: cloud), method: :post, remote: true, id: "cloud-#{cloud.id}-unboot-button"
        %li.divider
        - if cloud.scenario.custom?
          %li{ id: "cloud-#{cloud.id}-modify-button-li", class: cloud.stopped? ? "" : "disabled" }
            = link_to 'Modify', "#modal-cloud-modify", :data => {:toggle=>"modal"}, :onclick => "$('#modal-cloud-modify').find('#modal-title').text($('#cloud-#{cloud.id}-name').html().trim()); $('#modal-cloud-modify').find('#cloud_id').val('#{cloud.id}'); $('#modal-cloud-modify').find('#name').val($('#cloud-#{cloud.id}-name').html().trim()); $('#modal-cloud-modify').find('#cidr_block').val($('#cloud-#{cloud.id}-cidr').html().trim()); $('#modal-cloud-modify').find('#name-div').removeClass('has-error'); $('#modal-cloud-modify').find('#name-help').html(''); $('#modal-cloud-modify').find('#cidr-div').removeClass('has-error'); $('#modal-cloud-modify').find('#cidr-help').html(''); $('#modal-cloud-modify').find('#help-div').removeClass('has-error'); $('#modal-cloud-modify').find('#help-help').html('');", id: "cloud-#{cloud.id}-modify-button"
        %li{ id: "cloud-#{cloud.id}-delete-button-li", class: cloud.stopped? ? "" : "disabled" }
          = link_to 'Delete', cloud_delete_scenario_path(cloud_id: cloud), method: :post, remote: true, id: "cloud-#{cloud.id}-delete-button"
        %li.divider
        %li
          = link_to 'Show Log', log_get_scenario_path(cloud, kind: 'cloud'), method: :post, remote: true
  %br
  Status:
  %span{ id: "cloud-#{cloud.id}-status" }
    = cloud.status
  %div{ id: "cloud-#{cloud.id}-status-dot", class: "inline-block #{cloud.status} #{(cloud.booting? or cloud.unbooting?) ? 'hidden' : ''}" }
    &#9679;
  %div{ id: "cloud-#{cloud.id}-spinner", class: "inline-block #{(cloud.booting? or cloud.unbooting?) ? 'spin' : ''}" }
  %br
  Driver:
  %span{ id: "cloud-#{cloud.id}-driver" }
    = cloud.driver_id == nil ? "not set" : cloud.driver_id
  %br
  CIDR:
  %span{ id: "cloud-#{cloud.id}-cidr" }
    = cloud.cidr_block
  %br

  // Subnets
  %label
    Subnets:
    - if cloud.scenario.custom?
      %div.inline-block
        %div.dropdown
          %button.btn.btn-default.dropdown-toggle{ type:'button', id:"cloud-#{cloud.id}-subnet-dropdown", "data-toggle" => 'dropdown', "aria-expanded" => "true" }
            %span.caret
          %ul.dropdown-menu{ role: 'menu', "aria-labelledby" => "cloud-#{cloud.id}-dropdown" }
            %li
              = link_to 'Add Subnet', "#modal-subnet-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-subnet-add').find('#cloud-name').html($('#cloud-#{cloud.id}-name').html().trim()); $('#modal-subnet-add').find('#cloud_id').val('#{cloud.id}'); $('#modal-subnet-add').find('#name-div').removeClass('has-error'); $('#modal-subnet-add').find('#name-help').html(''); $('#modal-subnet-add').find('#cidr-div').removeClass('has-error'); $('#modal-subnet-add').find('#cidr-help').html(''); $('#modal-subnet-add').find('#internet-accessible-div').removeClass('has-error'); $('#modal-subnet-add').find('#internet-accessible-help').html(''); $('#modal-subnet-add').find('#name').val(''); $('#modal-subnet-add').find('#cidr_block').val(''); $('#modal-subnet-add').find('#internet_accessible').val('false'); "
  %ul{id: "cloud-#{cloud.id}-subnets" }
    - cloud.subnets.each do |subnet|
      = render '/scenarios/show/subnet', subnet: subnet