%li{ id: "group-#{group.id}" }
  %label{ id: "group-#{group.id}-name" }
    = group.name
  %div.inline-block
    %div.dropdown{ id: "group-#{group.id}-dropdown" }
      %button.btn.btn-default.dropdown-toggle{type:'button', id: "group-#{group.id}-dropdown-button", "data-toggle" => 'dropdown', "aria-expanded" => "true"}
        %span.caret
      %ul.dropdown-menu{role: 'menu', "aria-labelledby" => "group-#{group.id}-dropdown-button" }
        %li{ id: "group-#{group.id}-player-add-button-li", class: group.instances_stopped? ? "" : "disabled" }
          = link_to 'Add Player', "#modal-group-player-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-group-player-add').find('#group-name').html($('#group-#{group.id}-name').html().trim()); $('#modal-group-player-add').find('#group_id').val('#{group.id}'); $('#modal-group-player-add').find('#login-div').removeClass('has-error'); $('#modal-group-player-add').find('#login').val(''); $('#modal-group-player-add').find('#login-help').html(''); $('#modal-group-player-add').find('#password-div').removeClass('has-error'); $('#modal-group-player-add').find('#password').val(''); $('#modal-group-player-add').find('#password-help').html(''); $('#modal-group-player-add').find('#help-div').removeClass('has-error'); $('#modal-group-player-add').find('#help-help').html('');"
        %li{ id: "group-#{group.id}-student-group-add-button-li", class: group.instances_stopped? ? "" : "disabled" }
          = link_to 'Add Student Group', "#modal-group-student-group-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-group-student-group-add').find('#group_id').val('#{group.id}'); $('#modal-group-student-group-add').find('#group-name').html($('#group-#{group.id}-name').html().trim());"
        %li{ id: "group-#{group.id}-student-group-remove-button-li", class: group.instances_stopped? ? "" : "disabled" }
          = link_to 'Remove Student Group', "#modal-group-student-group-remove", :data => {:toggle=>"modal"}, onclick: "$('#modal-group-student-group-remove').find('#group_id').val('#{group.id}'); $('#modal-group-student-group-remove').find('#group-name').html($('#group-#{group.id}-name').html().trim());"
        - if @scenario.custom?
          %li.divider
          %li{ id: "group-#{group.id}-modify-button-li", class: group.instances_stopped? ? "" : "disabled" }
            = link_to 'Modify', "#modal-group-modify", :data => {:toggle=>"modal"}, onclick: "$('#modal-group-modify').find('#group-name').html($('#group-#{group.id}-name').html().trim()); $('#modal-group-modify').find('#group_id').val('#{group.id}'); $('#modal-group-modify').find('#name-div').removeClass('has-error'); $('#modal-group-modify').find('#name').val(''); $('#modal-group-modify').find('#name-help').html(''); $('#modal-group-modify').find('#help-div').removeClass('has-error'); $('#modal-group-modify').find('#help-help').html('');"
          %li{ id: "group-#{group.id}-delete-button-li", class: group.instances_stopped? ? "" : "disabled" } 
            = link_to 'Delete', group_delete_scenario_path(group_id: group), remote: true, method: :post
  %p
  Admin Access:
  - if @scenario.custom?
    %div.inline-block
      %div.dropdown{ id: "group-#{group.id}-admin-access-dropdown" }
        %button.btn.btn-default.dropdown-toggle{type:'button', id: "group-#{group.id}-admin-access-dropdown-button", "data-toggle" => 'dropdown', "aria-expanded" => "true" }
          %span.caret
        %ul.dropdown-menu{role: 'menu', "aria-labelledby" => "group-#{group.id}-admin-access-dropdown-button" }
          %li{ id: "group-#{group.id}-admin-access-button-li", class: group.instances_stopped? ? "" : "disabled" }
            = link_to 'Add Instance', "#modal-group-admin-access-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-group-admin-access-add').find('#group-name').html($('#group-#{group.id}-name').html().trim()); $('#modal-group-admin-access-add').find('#group_id').val('#{group.id}'); $('#modal-group-admin-access-add').find('#name').val(''); $('#modal-group-admin-access-add').find('#name-div').removeClass('has-error'); $('#modal-group-admin-access-add').find('#name-help').html('');"
  
  %ul{ id: "group-#{group.id}-admin-access" }
    - group.instance_groups.select{ |ig| ig.administrator == true }.each do |instance_group|
      %li{ id: "instance-group-#{instance_group.id}" }
        %span#name
          = instance_group.instance.name
        - if @scenario.custom?
          = link_to 'remove', group_admin_access_remove_scenario_path(instance_group_id: instance_group), remote: true, method: :post, class: group.instances_stopped? ? "" : "hidden" 
  %br
  User Access:
  - if @scenario.custom?
    %div.inline-block
      %div.dropdown{ id: "group-#{group.id}-user-access-dropdown" }
        %button.btn.btn-default.dropdown-toggle{type:'button', id: "group-#{group.id}-user-access-dropdown-button", "data-toggle" => 'dropdown', "aria-expanded" => "true" }
          %span.caret
        %ul.dropdown-menu{role: 'menu', "aria-labelledby" => "group-#{group.id}-user-access-dropdown-button" }
          %li{ id: "group-#{group.id}-user-access-button-li", class: group.instances_stopped? ? "" : "disabled" }
            = link_to 'Add Instance', "#modal-group-user-access-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-group-user-access-add').find('#group-name').html($('#group-#{group.id}-name').html().trim()); $('#modal-group-user-access-add').find('#group_id').val('#{group.id}'); $('#modal-group-user-access-add').find('#name').val(''); $('#modal-group-user-access-add').find('#name-div').removeClass('has-error'); $('#modal-group-user-access-add').find('#name-help').html('');"
  %ul{ id: "group-#{group.id}-user-access" }
    - group.instance_groups.select{ |ig| ig.administrator == false }.each do |instance_group|
      %li{ id: "instance-group-#{instance_group.id}" }
        %span#name
          = instance_group.instance.name
        - if @scenario.custom?
          = link_to 'remove', group_user_access_remove_scenario_path(instance_group_id: instance_group), remote: true, method: :post, class: group.instances_stopped? ? "" : "hidden"
  %br
  %table.table{id: "group-#{group.id}-players-table" }
    %tr
      %th Name
      %th Email
      %th Student Group
      %th Login
      %th Password
      %th
    - group.players.each do |player|
      %tr{id: "player-#{player.id}" }
        - if player.user_id
          - user = User.find(player.user_id)
          %td= user.name
          %td= user.email
        - else
          %td= "-"
          %td= "-"
        - if player.student_group_id
          %td= player.student_group.name
        - else
          %td= '-'

        %td= player.login
        %td= player.password
        %td= link_to 'delete', group_player_delete_scenario_path(@scenario, player_id: player), remote: true, method: :post, class: group.instances_stopped? ? "" : "hidden"
        