%li{ id: "instance-#{instance.id}" }
  %label
    %span{ id: "instance-#{instance.id}-name" }
      = instance.name
  %div.inline-block
    %div.dropdown{ id:"instance-#{instance.id}-dropdown" }
      %button.btn.btn-default.dropdown-toggle{type:'button', id:"instance-#{instance.id}-dropdown-button", "data-toggle" => 'dropdown', "aria-expanded" => "true"}
        %span.caret
      %ul.dropdown-menu{role: 'menu', "aria-labelledby" => "instance-#{instance.id}-dropdown-button"}
        %li
          %li{ id: "instance-#{instance.id}-boot-button-li", class: instance.bootable? ? "" : "disabled" }
            = link_to 'Boot', boot_instance_scenario_path(instance_id: instance), method: :post, remote: true, id: "instance-#{instance.id.to_s}-boot-button"
          %li{ id: "instance-#{instance.id}-unboot-button-li", class: instance.unbootable? ? "" : "disabled" }
            = link_to 'Unboot', unboot_instance_scenario_path(instance_id: instance), method: :post, remote: true, id: "instance-#{instance.id}-unboot-button"
          %li.divider
          - if instance.scenario.custom?
            %li{ id: "instance-#{instance.id}-modify-button-li", class: instance.stopped? ? "" : "disabled" }
              = link_to 'Modify', "#modal-instance-modify", :data => {:toggle=>"modal"}, onclick: "$('#modal-instance-modify').find('#instance_id').val('#{instance.id}'); $('#modal-instance-modify').find('#instance-name').html($('#instance-#{instance.id}-name').html().trim()); $('#modal-instance-modify').find('#name-div').removeClass('has-error'); $('#modal-instance-modify').find('#name-help').html(''); $('#modal-instance-modify').find('#ip-div').removeClass('has-error'); $('#modal-instance-modify').find('#ip-help').html(''); $('#modal-instance-modify').find('#internet-accessible-div').removeClass('has-error'); $('#modal-instance-modify').find('#internet-accessible-help').html(''); $('#modal-instance-modify').find('#os-div').removeClass('has-error'); $('#modal-instance-modify').find('#os-help').html(''); $('#modal-instance-modify').find('#name').val($('#instance-#{instance.id}-name').html().trim()); $('#modal-instance-modify').find('#ip_address').val($('#instance-#{instance.id}-ip-address').html().trim()); $('#modal-instance-modify').find('#internet_accessible').val($('#instance-#{instance.id}-internet-accessible').html().trim()); $('#modal-instance-modify').find('#os').val($('#instance-#{instance.id}-os').html().trim()); $('#modal-instance-modify').find('#help-div').removeClass('has-error'); $('#modal-instance-modify').find('#help-help').html('');", id: "instance-#{instance.id}-modify-button"
          %li{ id: "instance-#{instance.id}-delete-button-li", class: instance.stopped? ? "" : "disabled" }
            = link_to 'Delete', instance_delete_scenario_path(instance_id: instance), method: :post, remote: true, id: "instance-#{instance.id}-delete-button"
          %li.divider
          %li
            = link_to 'Show Log', log_get_scenario_path(instance, kind: 'instance'), method: :post, remote: true
            = link_to "Show Bash History", instance_bash_history_scenario_path(instance_id: instance), method: :post, remote: true
  %br
  Status:
  %span{id: "instance-#{instance.id}-status" }
    = instance.status
  %div{ id: "instance-#{instance.id}-status-dot", class: "inline-block #{instance.status} #{(instance.booting? or instance.unbooting?) ? 'hidden' : ''}" }
    &#9679;
  %div{ id: "instance-#{instance.id}-spinner", class: "inline-block #{(instance.booting? or instance.unbooting?) ? 'spin' : ''}" }
  %br
  Driver:
  %span{id: "instance-#{instance.id}-driver" }
    = instance.driver_id == nil ? "not set" : instance.driver_id
  %br
  IP:
  %span{ id: "instance-#{instance.id}-ip-address" }
    = instance.ip_address
  %br
  Internet Accessible:
  %span{ id: "instance-#{instance.id}-internet-accessible" }
    = instance.internet_accessible ? "true" : "false"

  %div{ id: "instance-#{instance.id}-accessible-options" }
    - if instance.internet_accessible
      %div{ id: "instance-#{instance.id}-public-ip-div"}
        Public IP:
        %span{id: "instance-#{instance.id}-public-ip" }
          = instance.provider_instance_public_ip ? instance.provider_instance_public_ip : "-"
        %br
        SSH Ready:
        %span{id: "instance-#{instance.id}-ssh-ready" }
          = instance.ssh_ready? ? "true" : '-'
  Initialized:
  %span{id: "instance-#{instance.id}-initialized" }
    = instance.initialized?
  - hidden = (instance.initialized? == "chef script error") ? '' : 'hidden'
  %span{id: "instance-#{instance.id}-initialized-error", class: hidden }
    = link_to 'view', instance_chef_error_scenario_path(instance_id: instance), remote: true, method: :post
  %br
  OS:
  %span{ id: "instance-#{instance.id}-os" }
    = instance.os
  %br

  // Instance Roles
  Roles:
  - if instance.scenario.custom?
    %div.inline-block
      %div.dropdown{ id:"instance-#{instance.id}-role-dropdown" }
        %button.btn.btn-default.dropdown-toggle{type:'button', id:"instance-#{instance.id}-role-dropdown-button", "data-toggle" => 'dropdown', "aria-expanded" => "true"}
          %span.caret
        %ul.dropdown-menu{role: 'menu', "aria-labelledby" => "instance-#{instance.id}-role-dropdown-button" }
          %li{ id: "instance-#{instance.id}-role-add-button-li", class: instance.stopped? ? "" : "disabled" }
            = link_to 'Add Role', "#modal-instance-role-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-instance-role-add').find('#instance-name').html($('#instance-#{instance.id}-name').html().trim()); $('#modal-instance-role-add').find('#name').val(''); $('#modal-instance-role-add').find('#instance_id').val('#{instance.id}'); $('#modal-instance-role-add').find('#name-div').removeClass('has-error'); $('#modal-instance-role-add').find('#name-help').html(''); $('#modal-instance-role-add').find('#help-div').removeClass('has-error'); $('#modal-instance-role-add').find('#help-help').html('');", id: "instance-#{instance.id}-role-add-button"
  
  %ul{ id: "instance-#{instance.id}-roles"}
    - instance.instance_roles.each do |instance_role|
      %li{ id: "instance-role-#{instance_role.id}" }
        %span#name
          = instance_role.role.name
        - if instance.scenario.custom?
          = link_to 'remove', instance_role_remove_scenario_path(instance_role_id: instance_role), method: :post, remote: true, id: "instance-role-#{instance_role.id}-remove-button", class: instance.stopped? ? "" : "hidden"
