// Scenario
%div.modal#modal-scenario-clone{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Clone Scenario
      %div.modal-body#modalbody
        = form_tag clone_scenario_path(@scenario), remote: true, method: :post do 
          %span#group
          %p
          %div#name-div
            = label_tag nil, "Name:"
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-scenario-save-as{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Scenario Save As: 
      %div.modal-body#modalbody
        = form_tag save_as_scenario_path(@scenario), remote:true, method: :post do
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-scenario-destroy{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Changes have been made to the Scenario
      %div.modal-body.inline#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Cancel

// Cloud
%div.modal#modal-cloud-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Cloud
      %div.modal-body#modalbody
        = form_tag cloud_add_scenario_path(@scenario), remote:true, method: :post do 
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "cidr_block", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-cloud-modify{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify:
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag cloud_modify_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'cloud_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "cidr_block", nil, class: 'form-control'
            %span.help-block#cidr-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Subnet
%div.modal#modal-subnet-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Subnet: 
          %span#cloud-name
      %div.modal-body#modalbody
        = form_tag subnet_add_scenario_path, remote:true, method: :post do
          = hidden_field_tag 'cloud_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "cidr_block", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", "<option>false</option><option>true</option>".html_safe, class: "form-control"
            %span.help-block.inline#internet_accessible-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-subnet-modify{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify:
          %span#subnet-name
      %div.modal-body#modalbody
        = form_tag subnet_modify_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'subnet_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#cidr-div
            = label_tag nil, "CIDR:", class: 'control-label'
            = text_field_tag "cidr_block", nil, class: 'form-control'
            %span.help-block.inline#cidr-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", "<option>false</option><option>true</option>".html_safe, class: "form-control"
            %span.help-block.inline#internet-accessible-help
          %p
          %div#help-div
            %span.help-block#help-help

          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Instance
%div.modal#modal-instance-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Instance
          %span#modal-title
      %div.modal-body#modalbody
        = form_tag instance_add_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'subnet_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#ip-div
            = label_tag nil, "IP Address:", class: 'control-label'
            = text_field_tag "ip", nil, class: 'form-control'
            %span.help-block.inline#ip-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", options_for_select(["true", "false"]), class: 'form-control'
            %span.help-block.inline#internet-accessible-help
          %p
          %div#os-div
            = label_tag nil, "Operating System:", class: 'control-label'
            / = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            %span.help-block.inline#os-help
          %p
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-instance-bash-history{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Bash History: 
          %span#modal-log-name
      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-instance-chef-error{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          %span#instance-name
          \: Chef Error

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-instance-modify{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify Instance:
          %span#instance-name
      %div.modal-body#modalbody
        = form_tag instance_modify_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'instance_id'
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %p
          %div#ip-div
            = label_tag nil, "IP Address:", class: 'control-label'
            = text_field_tag "ip_address", nil, class: 'form-control'
            %span.help-block.inline#ip-help
          %p
          %div#internet-accessible-div
            = label_tag nil, "Internet Accessible:", class: 'control-label'
            = select_tag "internet_accessible", options_for_select(["true", "false"]), class: 'form-control'
            %span.help-block.inline#internet-accessible-help
          %p
          %div#os-div
            = label_tag nil, "Operating System:", class: 'control-label'
            / = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            = select_tag "os", options_for_select(["ubuntu", "nat"]), class: 'form-control'
            %span.help-block.inline#os-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-instance-role-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Role: 
          %span#instance-name
      %div.modal-body#modalbody
        = form_tag instance_role_add_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag 'instance_id'
          %div#name-div 
            = label_tag "Role Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Group
%div.modal#modal-group-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Group
      %div.modal-body#modalbody
        = form_tag group_add_scenario_path(@scenario), remote:true, method: :post do 
          %div#name-div
            = label_tag nil, "Name:", class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-group-modify{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify Group:
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_modify_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag "group_id"
          %div#name-div
            = label_tag nil, "Name:", class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-group-player-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Player:
          %span#group-name
          
      %div.modal-body#modalbody
        = form_tag group_player_add_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'group_id'
          %div#login-div
            = label_tag nil, "Login:", class: 'control-label'
            = text_field_tag "login", nil, class: 'form-control'
            %span.help-block.inline#login-help
          %p
          %div#password-div
            = label_tag nil, "Password:", class: 'control-label'
            = text_field_tag "password", nil, class: 'form-control'
            %span.help-block.inline#password-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-group-student-group-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Student Group:
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_student_group_add_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'group_id'
          %div#student-group-div
            = label_tag nil, "Student Group:"
            = select_tag "name", options_for_select(@user.student_groups.pluck(:name)), class: 'form-control'
            %span.help-block.inline#student-group-div-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-group-student-group-remove{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Remove Student Group
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_student_group_remove_scenario_path(@scenario), remote:true, method: :post do 
          = hidden_field_tag 'group_id'
          %div#student-group-div
            = label_tag nil, "Student Group:"
            = select_tag "name", options_for_select(@user.student_groups.pluck(:name)), class: 'form-control'
            %span.help-block.inline#student-group-div-help
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-group-admin-access-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Admin Access:
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_admin_access_add_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag "group_id"
          %div#name-div
            = label_tag nil, "Instance Name:", class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-group-user-access-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add User Access:
          %span#group-name
      %div.modal-body#modalbody
        = form_tag group_user_access_add_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag "group_id"
          %div#name-div
            = label_tag nil, "Instance Name:", class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Role
%div.modal#modal-role-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Role
      %div.modal-body#modalbody
        = form_tag role_add_scenario_path(@scenario), remote:true, method: :post do
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-role-modify{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Modify Role:
          %span#role-name
      %div.modal-body#modalbody
        = form_tag role_modify_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag "role_id"
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-role-recipe-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Recipe:
          %span#role-name
      %div.modal-body#modalbody
        = form_tag role_recipe_add_scenario_path(@scenario), remote:true, method: :post do
          = hidden_field_tag "role_id"
          %div#name-div
            = label_tag "Name:", nil, class: 'control-label'
            = text_field_tag "name", nil, class: 'form-control'
            %span.help-block#name-help
          %p
          %div#help-div
            %span.help-block#help-help
          = submit_tag "Submit", :class => 'btn btn-default'
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

// Recipe
%div.modal#modal-recipe-global-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Global Recipe
      %div.modal-body#modalbody

      %div.modal-footer
        %div#name-div
          %span.help-block.inline#name-help

        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-recipe-custom-add{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Add Custom Recipe
      %div.modal-body#modalbody
        = form_tag recipe_custom_add_scenario_path(@scenario), remote: true, method: :post, id:'form' do
          %div#name-div
            = label_tag nil, "Name:"
            = text_field_tag "name", nil, class: 'form-control'
            %div.help-block#name-help
          %br
          = label_tag nil, "Content:"
          = text_area_tag "text", nil, class: 'form-control', style: "height: 500px;"
          %p
          %div#help-div
            %span.help-block#help-help
      %div.modal-footer
        %div#helper-div
          %span.help-block.inline#helper

        %button{ class: 'btn btn-default', onclick: "$('#modal-recipe-custom-add').find('#form').submit()"}
          Save

%div.modal#modal-recipe-view{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

%div.modal#modal-recipe-update{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
      %div.modal-body#modalbody
        = form_tag recipe_update_scenario_path(@scenario), remote: true, method: :post, id:'form' do
          = hidden_field_tag 'recipe_id'
          = text_area_tag "text", nil, class: 'form-control'
          %p
          %div#help-div
            %span.help-block#help-help
          
        %div#helper

      %div.modal-footer
        %button{ class: 'btn btn-default', onclick: "$('#modal-recipe-update').find('#form').submit()"}
          Save

//Log
%div.modal#modal-log{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Log:
          %span#modal-log-name

      %div.modal-body#modalbody
      %div.modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close