%li{ id: "subnet-#{subnet.id}" }
  %label
    %span{ id: "subnet-#{subnet.id}-name" }
      = subnet.name
  %div.inline-block
    %div.dropdown{id:"subnet-#{subnet.id}-dropdown" }
      %button.btn.btn-default.dropdown-toggle{type:'button', id: "subnet-#{subnet.id}-dropdown-button", "data-toggle" => 'dropdown', "aria-expanded" => "true"}
        %span.caret
      %ul.dropdown-menu{role: 'menu', "aria-labelledby" => "subnet-#{subnet.id}-dropdown-button" }
        %li{ id: "subnet-#{subnet.id}-boot-button-li", class: subnet.bootable? ? "" : "disabled" }
          = link_to 'Boot', boot_subnet_scenario_path(subnet_id: subnet), method: :post, remote: true, id: "subnet-#{subnet.id}-boot-button"
        %li{ id: "subnet-#{subnet.id}-unboot-button-li", class: subnet.unbootable? ? "" : "disabled" }
          = link_to 'Unboot', unboot_subnet_scenario_path(subnet_id: subnet), method: :post, remote: true, id: "subnet-#{subnet.id}-unboot-button"
        - if subnet.scenario.custom?
          %li.divider
          %li{ id: "subnet-#{subnet.id}-modify-button-li", class: subnet.stopped? ? "" : "disabled" }
            = link_to 'Modify', "#modal-subnet-modify", :data => {:toggle=>"modal"}, :onclick => "$('#modal-subnet-modify').find('#subnet-name').text($('#subnet-#{subnet.id}-name').html().trim()); $('#modal-subnet-modify').find('#subnet_id').val('#{subnet.id}'); $('#modal-subnet-modify').find('#name').val($('#subnet-#{subnet.id}-name').html().trim()); $('#modal-subnet-modify').find('#cidr_block').val($('#subnet-#{subnet.id}-cidr').html().trim()); $('#modal-subnet-modify').find('#internet_accessible').val($('#subnet-#{subnet.id}-internet-accessible').html().trim()); $('#modal-subnet-modify').find('#name-div').removeClass('has-error'); $('#modal-subnet-modify').find('#name-help').html(''); $('#modal-subnet-modify').find('#name-div').removeClass('has-error'); $('#modal-subnet-modify').find('#name-help').html(''); $('#modal-subnet-modify').find('#cidr-div').removeClass('has-error'); $('#modal-subnet-modify').find('#cidr-help').html(''); $('#modal-subnet-modify').find('#internet-accessible-div').removeClass('has-error'); $('#modal-subnet-modify').find('#internet-accessible-help').html(''); $('#modal-subnet-modify').find('#help-div').removeClass('has-error'); $('#modal-subnet-modify').find('#help-help').html('');", id: "subnet-#{subnet.id}-modify-button"
          %li{ id: "subnet-#{subnet.id}-delete-button-li", class: subnet.stopped? ? "" : "disabled" }
            = link_to 'Delete', subnet_delete_scenario_path(subnet_id: subnet), method: :post, remote: true, id: "subnet-#{subnet.id}-delete-button"
        %li.divider
        %li
          = link_to 'Show Log', log_get_scenario_path(subnet, kind: 'subnet'), method: :post, remote: true
  %br
  Status:
  %span{id: "subnet-#{subnet.id}-status" }
    = subnet.status
  %div{ id: "subnet-#{subnet.id}-status-dot", class: "inline-block #{subnet.status} #{(subnet.booting? or subnet.unbooting?) ? 'hidden' : ''}" }
    &#9679;
  %div{ id: "subnet-#{subnet.id}-spinner", class: "inline-block #{(subnet.booting? or subnet.unbooting?) ? 'spin' : ''}" }
  %br
  Driver:
  %span{id: "subnet-#{subnet.id}-driver" }
    = subnet.driver_id == nil ? "not set" : subnet.driver_id
  %br
  CIDR:
  %span{ id: "subnet-#{subnet.id}-cidr" }
    = subnet.cidr_block
  %br
  Internet Accessible:
  %span{ id: "subnet-#{subnet.id}-internet-accessible" }
    = subnet.internet_accessible
  %br

  // Instances
  %label
    Instances:
    - if subnet.scenario.custom?
      %div.inline-block
        %div.dropdown
          %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-instances', "data-toggle" => 'dropdown', "aria-expanded" => "true"}
            %span.caret
          %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-clouds'}
            %li
              = link_to 'Add Instance', "#modal-instance-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-instance-add').find('#subnet_id').val('#{subnet.id}'); $('#modal-instance-add').find('#name').val(''); $('#modal-instance-add').find('#ip').val(''); $('#modal-instance-add').find('#internet_accessible').val('false'); $('#modal-instance-add').find('#os').val('ubuntu'); $('#modal-instance-add').find('#name-div').removeClass('has-error'); $('#modal-instance-add').find('#name-help').html(''); $('#modal-instance-add').find('#ip-div').removeClass('has-error'); $('#modal-instance-add').find('#ip-help').html(''); $('#modal-instance-add').find('#internet-accessible-div').removeClass('has-error'); $('#modal-instance-add').find('#internet-accessible-help').html(''); $('#modal-instance-add').find('#os-div').removeClass('has-error'); $('#modal-instance-add').find('#os-help').html('');"

  %ul{id: "subnet-#{subnet.id}-instances" }
    - subnet.instances.each do |instance|
      = render '/scenarios/show/instance', instance: instance