/# navigation styled for Bootstrap 3.0
/ %nav.navbar
/   .container
/     .navbar-header
/       %span.icon-bar
/       %span.icon-bar
/       %span.icon-bar
/     .collapse.navbar-collapse
/       %ul.nav.navbar-nav.drop
/         = render 'layouts/navigation_links'

%nav.navbar.navbar-default
  / %div.container-fluid
  / %div.navbar-header
  %a.navbar-brand
    EDURange

  / %div.navbar-collapse
  %ul.nav.nav-tabs
    - if params[:controller] == 'instructor'
      %li.active{role: 'presentation'}
        = link_to 'Home', root_path
    - else
      %li{role: 'presentation'}
        = link_to 'Home', root_path
    - if params[:controller] == 'scenarios'
      %li.active{role: 'presentation'}
        = link_to 'Scenarios', scenarios_path
    - else
      %li{role: 'presentation'}
        = link_to 'Scenarios', scenarios_path
    - if params[:controller] == 'statistics'
      %li.active{role: 'presentation'}
        = link_to 'Statistics', statistics_path
    - else
      %li{role: 'presentation'}
        = link_to 'Statistics', statistics_path
    %li{role: 'presentation'}
      = link_to 'Sign Out', destroy_user_session_path, :method => :delete

