<%# add navigation links to this file %>

<!-- <li><%= link_to 'Documentation', documentation_path %></li> -->
<% if user_signed_in? %>
  <li><%= link_to 'Home', root_path %></li>
  <% if User.find(current_user.id).is_instructor? %>
    <li><%= link_to 'Scenarios', scenarios_path %></li>
    <li><%= link_to 'Statistics', analytics_path %></li>
  <% end %>
  <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
<% end %>
